@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cabinet";
  src: url("/CabinetGrotesk-Black.otf");
}
@font-face {
  font-family: "cabinetBold";
  src: url("/CabinetGrotesk-Bold.otf");
}
@font-face {
  font-family: "hog";
  src: url("/hon.ttf");
}

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

.circle {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(25%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.menu-item {
  writing-mode: vertical-lr;
}
.random-text {
  writing-mode: vertical-lr;
}
